__pycache__
.env
venv/
.venv/
.vscode
audio_mp3/
normalised_music/
equalized_music/
compressed_music/
noise_reduced_music/
reverb_enhanced_music/
filtered_music/
mastered_music/
stitched_audio.mp3
demixed/
vocals/
accompainment/
pretrained_models/